#octopus{
  margin-top: 100px;
  position: fixed;
  left: 40%;
  margin-left: -(half ot the image width)px
  z-index: 1;
  position: relative;
  }

#glasses{
  position: absolute;
  z-index: 2;
  top: 199px;
  left: 555px;
  }

#hat{
  position: absolute;
  top: 40px;
  left: 495px;
  }